// Colors
$white: rgb(255, 255, 255);
$main-color: rgb(205, 100, 100);
$black: rgb(0, 0, 0);
$black-hero: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);

// Font Sizes
$font-s: 0rem; // 0px
$font-m: 2rem; // 20px
$font-l: 0rem; // 0px

// bootstrap breakpoints
// 's': 576px
// 'm': 768px
// 'l': 992px
// 'xl': 1200px

// $black-hero variable must be linear gradient
@mixin heroImages($bgImg) {
  background-image: $black-hero, url($bgImg);
  background-size: cover;
  background-position: center;
}